<div>
     <h1>
		Future meetings
  	</h1>
	<table class="table table-striped">
		<tr>
			<td><b>DATE</b></td>
			<td><b>VENUE</b></td>
			<td><b>TITLE</b></td>
			<td><b>AUTHOR</b></td>
		</tr>
		<tr>
			<td>Wednesday 3 April 2013</td>
			<td>Jean (15)</td>
			<td>The Player of Games</td>
			<td>Iain M Banks</td>
		</tr>
		<tr>
			<td>Thursday 16 May 2013</td>
			<td>Rhona and Adrian (10)</td>
			<td>Skios</td>
			<td>Michael Frayn</td>
		</tr>
		<tr>
			<td>Monday 24 June 2013</td>
			<td>Liz and Richard(19)</td>
			<td>The Periodic Table</td>
			<td>Primo Levi</td>
		</tr>
	</table> 
	<%= image_tag("caley_place.png", :alt => "Caley Place", :size => "1000x200") %>	
 </div>

