<div style="margin: 0 auto;">
  <h1>
    Future meetings
  </h1>
<table class="table table-striped">
<tr>
<td><b>DATE</b></td>
<td><b>VENUE</b></td>
<td><b>TITLE</b></td>
<td><b>AUTHOR</b></td>
</tr>
<tr>
<td>Wednesday 3 April</td>
<td>Jean (15)</td>
<td>The Player of Games</td>
<td>Iain M Banks</td>
</tr>
<tr>
<td>Thursday 16 May</td>
<td>Adrian (10)</td>
<td>Skios</td>
<td>Michael Frayn</td>
</tr>
<tr>
<td>Monday 24 June</td>
<td>Liz (19)</td>
<td>The Periodic Table</td>
<td>Primo Levi</td>
</tr>
</table> 

</div>

