<% provide(:title, 'Past Meetings') %>
<h1>Past Meetings</h1>
<table class="table table-striped">
<tr>
<td><b>DATE</b></td>
<td><b>VENUE</b></td>
<td><b>TITLE</b></td>
<td><b>AUTHOR</b></td>
</tr>
<tr>
<td>Thursday 21 February 2013</td>
<td>Anne (11)</td>
<td>I Capture the Castle</td>
<td>Dodie Smith</td>
</tr>
<tr>
<td>Wednesday 9 January 2013</td>
<td>Delphine (8)</td>
<td>The Thread</td>
<td>Victoria Hislop</td>
</tr>
<tr>
<td>Tuesday 20 November 2012</td>
<td>Sandra (6)</td>
<td>The Stranger</td>
<td>Albert Camus</td>
</tr>
<tr>
<td>Monday 8 October 2012</td>
<td>Jean (15)</td>
<td>A Thousand Splendid Suns</td>
<td>Khaled Hosseini</td>
</tr>
<tr>
<td>Thursday 29 August 2012</td>
<td>Sarah (29)</td>
<td>Fatherland</td>
<td>Robert Harris</td>
</tr>
<tr>
<td>Wednesday 11 July 2012</td>
<td>Emma (3)</td>
<td>The Grudge</td>
<td>Tom English</td>
</tr>
<tr>
<td>Tuesday 29 May 2012</td>
<td>Jean (15)</td>
<td>Another Time, Another Place</td>
<td>Jessie Kesson</td>
</tr>
<tr>
<td>Thursday 19 April 2012</td>
<td>Brenda and Mike (18)</td>
<td>Solar</td>
<td>Ian McEwan</td>
</tr>
<tr>
<td>Wednesday 29 February 2012</td>
<td>Jim and Alex (14)</td>
<td>Snowdrops</td>
<td>A D Miller</td>
</tr>
<tr>
<td>Thursday 8 December 2011</td>
<td>Lyndsay (10)</td>
<td>The Help</td>
<td>Kathryn Stockett</td>
</tr>
<tr>
<td>Wednesday 2 November 2011</td>
<td>Dee and Frank (25)</td>
<td>The Crow Road</td>
<td>Iain Banks</td>
</tr>
</table> 

