<% provide(:title, 'Future meetings') %>
<h1>Future meetings</h1>
<p>
The Book Group meets approximately every six weeks at <strong>7.30 pm</strong>. The list of future meetings is shown below. All who live in the street are welcome to come along.
</p>

<%= render 'layouts/meeting_list' %> 

<p>
At the December meeting carried out an experiment. Instead of all reading the same book, we chose a theme - in this case <em>Christmas</em>. Everyone read a book of their choice, based on that theme and came prepared to persuade the group that their book was worth reading (or not if it turned out to be rubbish!). If you'd like to see what books we chose (and some comments) click <%= link_to "here", christmas_path %>.
</p>

<%= image_tag("caley_place.jpg", :alt => "Caley Place", :size => "1000x150") %>	
