<% provide(:title, 'Running meetings') %>

<h1>Running meetings</h1>

<p>
The emphasis is on the social rather than the intellectual!!!
</p>
<p>
We will meet every six weeks to accommodate slower readers and households where two people are reading the same book, but we will monitor this and, if necessary, adjust the frequency.
</p>
<p>
Please come to the meetings even if you haven’t read/finished the book. You can still enjoy the discussion and the wine.
</p>
<p>
We will take it in turns to host meetings (two turns if two of you are members of the group). If you volunteer to host then find you can’t,  it is up to you to arrange and advise an alternative.
</p>
<p>
Catering – we will keep this to a minimum, a glass of wine and a few nibbles, possibly followed by tea/coffee. Please don’t bring anything to the meeting (e.g. bottle of wine), as we will all be taking a turn. Please let the host know if you are coming/not coming for numbers.
</p>
<p>
Books will be selected jointly but if we can’t agree/decide, the host of the following meeting will have the final choice. We will try to choose 2-3 books ahead so we have plenty of time to read them.
</p>
<p>
Meetings will be confined to Mondays – Thursdays and we will rotate the day so that those with regular commitments can still come to most meetings. 
</p>